:root {
  --space: 15px;
}

/*cursor */
.pointer {
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 100vw !important;
  overflow: hidden !important;
  font-weight: 400;
}
.space-10 {
  height: 10vh;
}
