:root {
  --space: 15px
}

.navbar {
  padding: var(--space);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .app-name {
  flex: 1;
}

/*cursor */
.pointer {
  cursor: pointer;
}